fasttext==0.8.22
Keras==2.3.1
scikit-learn==0.20.3
scipy==1.4.1
tensorflow==2.5.3
#https://pytorch.org/
torch==1.4.0
# https://github.com/huggingface/transformers
transformers==2.5.0
#https://github.com/undertheseanlp/underthesea
underthesea==1.1.17
Unidecode==1.1.1
xgboost==1.0.0
